body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  text-align: left;
  background: linear-gradient(to left, #0b0101, #f13c3c);
}

section{
  margin: 0;
  padding: 0;
}

.accueil-introduction {
  --_spacer: 1%;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  padding: 0 20px 20px;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}


.media-scroller {
  --_spacer: 1%;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  padding: 0 20px 20px;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}


.resume {
  padding-inline-start: 2%;
  margin-block: 7% 2%;
}

.media-element img {
  width: 100%;
  height: 100%;
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.media-element {
  position: relative;
}


.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.media-element:hover .photo-hover{
  display: flex;
}


.snaps-inline a {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10%;
}

.snaps-inline>* {
  scroll-snap-align: start;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.page-header {
  padding-block: 20px;
  margin-block-end: 30px;
  background: black;
  color: grey;
}

.page-title {
  font-size: 40;
}

.page-subtitle {
  font-size: 40;
}

.section-title {
  padding-inline-start: 2%;
  margin-block: 7% 2%;
}


.accueil-introduction {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: auto;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

.accueil-introduction img {
  width: 100%;
  height: 100%;
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.pied-de-page {
  background-color: black;
  padding-block: 20px;
  background: black;
  color: grey;
  text-align: center;
}

.pied-de-page a {
  color: grey;
}

.span a {
  display: flex;
  padding-block: 20px;
  background: black;
  color: grey;
  text-align: center;

}